# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Files
# ================================================================

scripts/ConfigUser.bat
scripts/Local.bat

scripts-ps/ConfigUser.ps1
scripts-ps/Local.ps1

# Folders
# ================================================================

mods/*
!mods/ExampleOne/
!mods/ExampleTwo/
scripts/Local/
scripts-ps/Local/

# Generated
# ================================================================
