# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Files
# ================================================================

scripts/ConfigUser.ps1
scripts/Local.ps1

# Folders
# ================================================================

mods/*
!mods/ExampleMod/

scripts/Local/

servers/*
!servers/ExampleServer/

# Generated
# ================================================================
