# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# http://editorconfig.org

root = true

[*]

# Change these settings to your own preference
indent_style = space
indent_size = 2

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[Makefile]
indent_style = tab

[CMakeLists.*]
indent_size = 4

[*.cmake]
indent_size = 4

# Python
[*.py]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.{c,h,hpp}]
indent_style = tab
indent_size = 4

# Custom

[*.{c,xml,json,cfg,txt}]
# end_of_line = crlf
trim_trailing_whitespace = false
insert_final_newline = false

[*.{c,layout,gproj}]
end_of_line = crlf
indent_style = tab
trim_trailing_whitespace = false
insert_final_newline = false

[*.c]
trim_trailing_whitespace = true
insert_final_newline = true
