# https://git-scm.com/docs/gitattributes

# Auto detect text files and perform LF normalization
# * text=auto

# Handle DayZ files
# *.c      eol=crlf
# *.cpp    -text -diff
# *.gproj  -text -diff
# *.layout -text -diff
# *.xml    -text -diff
# *.json   -text -diff
# *.cfg    -text -diff
# *.txt    -text -diff
